//
   Created by matthewyun on 5/17/16.

extends layout
block content
    #about
        h3 How to use this site
        p.
            When you're trying to become a better trader, keeping track of
            your portfolio performance is not enough.
            Use this site to keep track of the <i>reasons</i> behind your
            trades.
        p.
            Enter in the trade in question, your outlook (bearish or bullish), the
            catalyst for your outlook (e.g. great quartely report), and timeline of your
            prediction (e.g. in 3 weeks). Additionally, select an impact value
            for how much your stock will rise/decline on your catalyst (e.g. 10%).

        p.
            Keeping a record of your trade reasons will offer you better feedback
            than simple portfolio performance, which often succeeds or fails
            based on extraneous factors.


