//
   Created by matthewyun on 4/27/16.
extends layout
block content
    .container

        .col-sm-6
            h1 Signup
            if message.length > 0
                .alert #{message}
            form(action = '/signup' method = 'post')
                .form-group
                    label Email
                    input(type = 'text' class = 'form-control' name = 'email')
                    label Password
                    input(type = 'password' class = 'form-control' name = 'password')
                button(type = 'submit' class = 'btn btn-warning btn-lg') Signup
                hr
                p
                    | Already Have an Account?
                    a(href = '/login')  Login
                    | Or go
                    a(href = '/')  home

